fastapi
uvicorn
pyodbc
azure-storage-blob
azure-ai-vision-imageanalysis
azure-iot-device
azure-iot-hub
requests
python-dotenv
opencv-python-headless
numpy
scipy
pydantic
pillow
insightface
onnxruntime